@import "../../styles/variables";

#wrapper {
	margin: 0 auto;
  margin-top: 30px;
	padding: 0px;
	text-align: center;
	width: 995px;
  background-color: $body-bg;
	h1 {
		margin-top: 50px;
		font-size: 45px;
		color: $text-primary;
		p {
			font-size: 18px;
		}
	}
}
.form_div {
	width: 330px;
	margin-left: 320px;
	padding: 10px;
	background-color: $background-color_2;
  border-radius: 10px;
	.form_label {
		margin: 15px;
		margin-bottom: 30px;
		font-size: 25px;
		font-weight: bold;
		color: $text-secondary;
		text-decoration: underline;
	}
	input {
		width: 230px;
		height: 40px;
		border-radius: 5px;
		font-size: 17px;
		padding-left: 5px;
		border: none;
	}
	button {
		width: 230px;
		height: 40px;
		border: none;
		border-radius: 5px;
		font-size: 17px;
		background-color: $background-color_3;
		border-bottom: 3px solid hsl(220, 100%, 30%);
		color: $text-secondary;
		font-weight: bold;
	}
}

@media only screen and (min-width:700px) and (max-width:995px) {
	#wrapper {
		width: 100%;
		h1 {
			font-size: 30px;
		}
	}
	.form_div {
		width: 50%;
		margin-left: 25%;
		padding-left: 0px;
		padding-right: 0px;
		input{
			width: 80%;
		}
		button {
			width: 80%;
		}
	}
	input {
		width: 80%;
	}
}
@media only screen and (min-width:400px) and (max-width:699px) {
	#wrapper {
		width: 100%;
		h1 {
			font-size: 30px;
		}
	}
	.form_div {
		width: 60%;
		margin-left: 20%;
		input {
			width: 80%;
		}
		button {
			width: 80%;
		}
	}
	input {
		width: 80%;
	}
}
@media only screen and (min-width:100px) and (max-width:399px) {
	#wrapper {
		width: 100%;
		h1 {
			font-size: 25px;
		}
	}
	.form_div {
		width: 90%;
		margin-left: 5%;
		padding-left: 0px;
		padding-right: 0px;
		input{
			width: 80%;
		}
		button {
			width: 80%;
		}
	}
	input {
		width: 80%;
	}
}
